const config = {
  stripe: {
    apiKey: 'pk_test_RcuyF81gRAqODQ3e1HJooOpN',
    checkoutUrl: 'https://cocky-swartz-5cef73.netlify.com/serverless/createCharge',
    productsUrl: 'https://cocky-swartz-5cef73.netlify.com/serverless/fetchProducts',
    currency: 'EUR',
  },
};

export default config;
